body {
    background: url('../images/background.jpg') no-repeat fixed center;
    background-position: cover;
    color: white;
    font-family: 'Marmelad', sans-serif;
}

.need-rotate {
    font-size: 18px;
    background: url('../images/background.jpg') no-repeat fixed center;
    background-position: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 999999999;
}

.need-rotate img {
    display: block;
    width: 50%;
    margin: 5px auto;
}

@media only screen and (max-width: 719px) {
    body {
        font-size: 14px;
    }
    .need-rotate {
        display: flex;
    }
}

@media only screen and (min-width: 720px) and (max-width: 860px) {
    body {
        font-size: 10px;
    }
}

@media only screen and (min-width: 861px) and (max-width: 1024px) {
    body {
        font-size: 12px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1360px) {
    body {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1361px) and (max-width: 1440px) {
    body {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1441px) {
    body {
        font-size: 18px;
    }
}

header {
    position: relative;
    top: 2px;
}

header div {
    display: block;
    min-width: 4em;
    text-align: center;
    position: absolute;
}

.welcome {
    padding: 5px;
    font-size: 4em;
    position: static;
    margin: 0 auto;
    width: 10em;
}

.balance {
    padding: 5px;
    text-align: left;
    font-size: 1em;
    margin-right: 5px;
    margin-left: 9.1em;
    right: 5px;
    top: 2px;
}

.balance .login-info {
    width: 16em;
    text-align: left;
    position: absolute;
    right: 0;
}

.balance #exit {
    display: inline-block;
    position: absolute;
    top: -0.2em;
    right: 0;
    font-size: 1em;
}

.user-block {
    padding: 5px;
    text-align: left;
    font-size: 1em;
    right: 5px;
    top: 0;
}

.user-block #exit {
    display: inline-block;
    font-size: 1.1em;
}

.user-block .login-info {
    width: 28em;
    text-align: right;
    position: absolute;
    right: 0;
}

.login-info div {
    position: relative;
    display: inline-block;
    text-align: left;
    margin-right: 5px;
}

.login-info div:first-of-type {
    text-align: right;
}

.login-info div:last-of-type {
    text-align: right;
    top: -1em;
}

.login-info img {
    display: inline-block;
    margin-top: 0.15em;
    width: 2.2em;
    background: white;
    border-radius: 50%;
    border: .15em solid white;
}

.info {
    text-align: left;
    font-size: 1em;
    position: absolute;
    display: block;
    width: 50%;
    left: 10px;
    top: 5px;
}

.info>div {
    display: inline-block;
    position: static;
    margin-right: 2em;
    min-width: 5em;
    text-align: right;
}

.info #draws-button,
.info #cashs-button,
.info #poker-button {
    text-align: left;
    font-size: 1.1rem;
    cursor: pointer;
    z-index: 9999999999;
}

.info #draws-button span,
.info #cashs-button span,
.info #poker-button span {
    text-decoration: underline;
}

.bold,
b {
    text-decoration: underline;
    font-weight: normal;
    font-size: 1.1em;
}

main {
    font-size: 2em;
    font-family: 'Neucha', cursive;
    text-align: center;
    margin: 1em auto;
    width: 20em;
    display: block;
}

button,
.link-button {
    font-size: 1em;
    font-family: 'Neucha', cursive;
    color: white;
    min-height: 1em;
    background-color: black;
    display: inline-block;
    min-width: 3em;
    text-align: center;
    vertical-align: middle;
    border: 2px solid white;
    padding: 0.1em 0.2em;
    border-radius: 0.5em;
    margin: 10px auto;
    cursor: pointer;
    text-decoration: none;
}

.choose a:hover,
select:hover,
button:hover,
input:hover,
.link-button:hover {
    box-shadow: 1px 0px 30px #ffffff;
}

.choose a:focus,
select:focus,
button:focus,
input:focus,
.link-button:focus {
    outline: none;
}

.choose a:active,
select:active,
button:active,
input:active,
.link-button:active {
    box-shadow: inset 1px 0px 19px #ffffff;
}

a::selection {
    background: transparent;
}

a::-moz-selection {
    background: transparent;
}

button::selection {
    background: transparent;
}

button::-moz-selection {
    background: transparent;
}

main span::selection {
    background: transparent;
}

main span::-moz-selection {
    background: transparent;
}

main div::selection {
    background: transparent;
}

main div::-moz-selection {
    background: transparent;
}

select,
input {
    color: white;
    min-height: 1em;
    background-color: black;
    display: inline-block;
    font-size: 1em;
    font-family: 'Neucha', cursive;
    text-align: left;
    vertical-align: middle;
    border: 2px solid white;
    padding: 0.1em 0.3em;
    border-radius: 0.5em;
}

.choose a {
    background-color: #bf1e2d;
    background-position: center;
    background-size: cover;
    display: inline-block;
    width: 4em;
    min-height: 4em;
    border: .2em solid white;
    padding: 0;
    margin: 5px auto;
    cursor: pointer;
    border-radius: 100%;
}

.choose a:nth-of-type(1) {
    background-image: url("../images/tic_tac.png");
}

.choose a:nth-of-type(2) {
    background-image: url("../images/keno.png");
}

.choose a:nth-of-type(3) {
    background-image: url("../images/poker.png");
}

.choose a:nth-of-type(4) {
    background-image: url("../images/roulette.png");
}

.choose a:hover {
    background-size: 110% 110%;
}

.choose {
    width: 100%;
    margin: 1em auto;
    display: none;
}

.bold {
    cursor: pointer;
}

.welcome.draw {
    /*font-size: 3rem;*/
    width: 20em;
    margin: 5px auto;
    text-align: center;
}

.main.draw {
    width: 95%;
    margin: 5px auto;
    /*font-size: 1.6rem;*/
}

#draws {
    display: table;
    border: 2px solid white;
    border-spacing: 0;
    border-radius: 1rem;
    margin: 5px auto;
    width: 100%;
    text-align: center;
}

#draws div:first-child span:first-child {
    border-top-left-radius: 1rem;
}

#draws div:first-child span:last-child {
    border-top-right-radius: 1rem;
}

#draws div:last-child span:first-child {
    border-bottom-left-radius: 1rem;
}

#draws div:last-child span:last-child {
    border-bottom-right-radius: 1rem;
}

#draws div {
    display: table-row;
}

#draws span {
    display: table-cell;
    border: 1px solid white;
    padding: 10px;
    vertical-align: middle;
}

#draws span:first-child {
    min-width: 4em;
}

#draws span:nth-child(2) {
    min-width: 10em;
}

.i-frame-draws,
.i-frame-cashs,
.i-frame-poker {
    position: absolute;
    width: 83%;
    height: 85vh;
    left: 7em;
    top: 3em;
    display: none;
    box-sizing: border-box;
}

iframe {
    position: relative;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    border: 10px solid white;
    border-radius: 1em;
}

#close-frame-draws,
#close-frame-cashs,
#close-frame-poker {
    position: absolute;
    z-index: 9999999999;
    top: -1.5em;
    right: -2em;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    border: 0.2em solid white;
    background-color: black;
    background-image: url('../images/close.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -60px 0 0 -60px;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: #bf1e2d url('../images/games.ico') no-repeat;
    background-size: 8rem;
}

.loading:after {
    content: '';
    background: trasparent;
    width: 140%;
    height: 140%;
    position: absolute;
    border-radius: 100%;
    top: -20%;
    left: -20%;
    opacity: 0.7;
    box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.reg {
    width: 30em;
    text-align: center;
}

.reg table {
    width: 90%;
    margin: 10px auto;
    margin-bottom: 1em;
    font-size: 1em;
}

.reg td:first-of-type {
    text-align: right;
}

.reg td:last-of-type {
    text-align: left;
    width: 18em;
}

.avatars input {
    display: none;
}

.avatars label {
    width: 1.9em;
    height: 1.9em;
    margin: .3em;
    display: inline-block;
    border-radius: 50%;
    transition: border .2s;
    cursor: pointer;
}

.avatars img {
    width: 2em;
    height: 2em;
    border: .2em solid white;
    background: white;
    border-radius: 100%;
    transition: .2s;
}

.avatars input:checked~label>img {
    border: .2em solid #49A10B;
    background: #49A10B;
}

.user-blocks {
    font-size: 2.15rem;
    margin: 10px auto;
    border: 3px solid white;
    border-radius: 10px;
    margin-bottom: 10px;
    display: table-row;
}

.plus,
.minus {
    min-width: 2em;
}

.user-blocks span {
    font-size: 2.15rem;
    display: table-cell;
    margin: 5px auto;
    min-width: 5em;
    padding: 5px;
    border-bottom: 2px solid white;
}

.user-blocks .balance {
    text-align: center;
}

main.admin {
    width: 100%;
}

#users {
    margin: 10px auto;
    display: inline-block;
}