* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../../images/background.jpg') no-repeat fixed center;
    background-size: cover;
    font-size: 16px;
    color: white;
    font-family: 'Marmelad', sans-serif;
}

.need-rotate {
    font-size: 18px;
    background: url('../../images/background.jpg') no-repeat fixed center;
    background-position: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 999999999;
}

.need-rotate img {
    display: block;
    width: 50%;
    margin: 5px auto;
}

@media only screen and (max-width: 719px) {
    body {
        font-size: 14px;
    }
    .need-rotate {
        display: flex;
    }
}

@media only screen and (min-width: 720px) and (max-width: 860px) {
    body {
        font-size: 10px;
    }
}

@media only screen and (min-width: 861px) and (max-width: 1024px) {
    body {
        font-size: 12px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1360px) {
    body {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1361px) and (max-width: 1440px) {
    body {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1441px) {
    body {
        font-size: 18px;
    }
}

header>div {
    display: block;
    min-width: 8em;
    text-align: center;
    position: absolute;
    top: 2px;
}

.welcome {
    padding: 5px;
    font-size: 4em;
    position: static;
    margin: 5px auto;
    width: 3em;
}

.balance {
    text-align: left;
    right: 5px;
    top: 2px;
}

.login-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 17rem;
}

.login-info>div {
    margin: 5px;
}


/* .login-info div:first-of-type {
    text-align: right;
}

.login-info div:last-of-type {
    text-align: right;
    top: -1rem;
} */

.login-info img {
    display: inline-block;
    width: 2.2rem;
    background: white;
    border-radius: 50%;
    border: .15rem solid white;
}

.info {
    text-align: left;
    font-size: 1rem;
    position: absolute;
    display: block;
    width: 50%;
    left: 10px;
    top: 5px;
}

.info>div {
    display: inline-block;
    position: static;
    margin-right: 2em;
    min-width: 5em;
    text-align: right;
}

#rules {
    margin-top: 1em;
    width: 24em;
    border: 2px solid white;
    border-radius: 0.5em;
    position: absolute;
    z-index: 9999999;
    left: 0;
    display: none;
}

.rules-button {
    text-align: right;
    font-size: 1.1rem;
}

.info #draws-button,
.info #cashs-button {
    text-align: left;
    font-size: 1.1rem;
    cursor: pointer;
    z-index: 9999999999;
}

.info #draws-button span,
.info #cashs-button span {
    text-decoration: underline;
}

.balance #exit {
    font-size: 1rem;
}

.bold,
b {
    text-decoration: underline;
    font-weight: normal;
    font-size: 1.1em;
}

.main {
    font-size: 2em;
    font-family: 'Neucha', cursive;
    text-align: center;
    margin: 0 auto;
    display: block;
}

button,
.link-button {
    font-size: 1em;
    font-family: 'Neucha', cursive;
    color: white;
    min-height: 1em;
    background-color: black;
    display: inline-block;
    min-width: 3em;
    text-align: center;
    vertical-align: middle;
    border: 2px solid white;
    padding: 0.1em 0.2em;
    border-radius: 0.5em;
    margin: 10px auto;
    cursor: pointer;
    text-decoration: none;
}

#new-game button {
    display: block;
    width: 5em;
}

select:hover,
button:hover,
input:hover,
.link-button:hover {
    box-shadow: 1px 0px 30px #ffffff;
}

select:focus,
button:focus,
input:focus,
.link-button:focus {
    outline: none;
}

select:active,
button:active,
input:active,
.link-button:active {
    box-shadow: inset 1px 0px 19px #ffffff;
}

button::selection {
    background: transparent;
}

button::-moz-selection {
    background: transparent;
}

.main span::selection {
    background: transparent;
}

.main span::-moz-selection {
    background: transparent;
}

.main div::selection {
    background: transparent;
}

.main div::-moz-selection {
    background: transparent;
}

.bold {
    cursor: pointer;
}

input,
select {
    color: white;
    min-height: 1em;
    background-color: black;
    display: inline-block;
    color: white;
    font-size: 1em;
    font-family: 'Neucha', cursive;
    text-align: left;
    vertical-align: middle;
    border: 2px solid white;
    padding: 0.1em 0.3em;
    border-radius: 0.5em;
}

option {
    cursor: pointer;
}

option:hover {
    background-color: #FFDB58;
}

#betting {
    width: 11rem;
}

#bet {
    width: 12rem;
    margin: 5px auto;
}

table {
    border-collapse: collapse;
    border: 2px solid white;
    margin: 0 auto;
    padding: 5px;
    width: 44rem;
}

.game-block {
    display: none;
}

.game {
    width: 100%;
    min-height: 72vh;
    height: auto;
    text-align: center;
}

.roulette {
    width: 34vw;
    min-height: 34vw;
    height: auto;
    background-image: url('../images/roulette_table.png');
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    position: relative;
    display: none;
}

.ball {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 17vw;
    height: 2.5rem;
    text-align: left;
    transform: rotate(91deg);
    transition: ease-out;
}

#win-number {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 7rem;
    height: 7rem;
    text-align: center;
    border: 2px solid white;
    font-size: 4rem;
    padding: 1rem;
    display: none;
}

.win-bet {
    box-shadow: 0px 0px 20px 18px #FFDB58;
}

.animated {
    animation-name: rotate-ball, rotate-ball2, rotate-ball3;
    animation-delay: 0s, 3s, 8s;
    animation-duration: 3s, 5s, 7s;
    animation-timing-function: cubic-bezier(0.75, 0.66, 0.75, 0.94), linear, cubic-bezier(0.25, 0.085, 0.68, 0.53);
}


/* .animation-end {
    animation-name
} */

.game-table {
    background: url('../images/table.jpg') repeat;
    background-size: 100px;
    height: 35rem;
    padding: 2rem;
    border: 1rem solid #f5aa00;
    border-radius: 5rem;
}

td::selection {
    background: transparent;
}

td::-moz-selection {
    background: transparent;
}

td {
    font-family: 'Marmelad', sans-serif;
    font-size: 1.5rem;
    line-height: 1.1em;
    border: 1q solid white;
    /* box-shadow: 4px 6px 10px -2px rgba(5, 5, 5, 1); */
    min-width: 3rem;
    min-height: 3rem;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: 0.2s ease;
}

td:focus {
    outline: none;
}

#game-field td:hover,
#game-field td:focus {
    box-shadow: inset 0px 0px 5px 1px #ffffff;
    outline: none;
}

#game-field td:active {
    box-shadow: inset 0px 0px 5px 5px #ffffff;
}

#draw-num {
    text-align: center;
    margin: 0 auto;
    font-size: 1.1em;
}

.bet-text {
    min-height: 1.4em;
    display: block;
    text-align: center;
}

#bet-table {
    margin-top: 1rem;
}

#bet-table td {
    min-height: 2rem;
    height: 2.2rem;
    text-align: left;
}

.bet-info {
    cursor: unset;
    font-size: 1.2rem;
    width: 22rem
}

.bet-info:focus,
.bet-info:hover,
.bet-info:active {
    box-shadow: none !important;
    outline: none !important;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.bg-red {
    background-color: #bf1e2d;
    color: white;
}

.bg-black {
    background-color: #131313;
    color: white;
}

.bg-green {
    background-color: #22BF1E;
    color: white;
}

.bg-blue {
    background-color: #2A52BE;
    color: white;
}

.bg-select {
    background-color: #FFDB58 !important;
    color: #131313;
}

.green {
    background: -webkit-gradient(radial, 35% 14%, 0, 35% 14%, 156, color-stop(0.94, #196119), color-stop(0.40, #22BF1E));
    background: -webkit-radial-gradient(35% 14%, circle, #22BF1E 40%, #196119 94%);
    background: -moz-radial-gradient(35% 14%, circle, #22BF1E 40%, #196119 94%);
    background: -o-radial-gradient(35% 14%, circle, #22BF1E 40%, #196119 94%);
    background: -ms-radial-gradient(35% 14%, circle, #22BF1E 40%, #196119 94%);
    background: radial-gradient(35% 14%, circle, #22BF1E 40%, #196119 94%);
}

.red {
    background: -webkit-gradient(radial, 35% 14%, 0, 35% 14%, 156, color-stop(1.00, #570e16), color-stop(0.74, #9c1927), color-stop(0.55, #bf1e2d), color-stop(0.24, #bf1e2d));
    background: -webkit-radial-gradient(35% 14%, circle, #bf1e2d 24%, #bf1e2d 55%, #9c1927 74%, #570e16 100%);
    background: -moz-radial-gradient(35% 14%, circle, #bf1e2d 24%, #bf1e2d 55%, #9c1927 74%, #570e16 100%);
    background: -o-radial-gradient(35% 14%, circle, #bf1e2d 24%, #bf1e2d 55%, #9c1927 74%, #570e16 100%);
    background: -ms-radial-gradient(35% 14%, circle, #bf1e2d 24%, #bf1e2d 55%, #9c1927 74%, #570e16 100%);
    background: radial-gradient(35% 14%, circle, #bf1e2d 24%, #bf1e2d 55%, #9c1927 74%, #570e16 100%);
}

.black {
    background: -webkit-gradient(radial, 35% 14%, 0, 35% 14%, 156, color-stop(1.00, #4b4b4b), color-stop(0.00, #131313));
    background: -webkit-radial-gradient(35% 14%, circle, #131313, #4b4b4b);
    background: -moz-radial-gradient(35% 14%, circle, #131313, #4b4b4b);
    background: -o-radial-gradient(35% 14%, circle, #131313, #4b4b4b);
    background: -ms-radial-gradient(35% 14%, circle, #131313, #4b4b4b);
    background: radial-gradient(35% 14%, circle, #131313, #4b4b4b);
}

.yellow {
    background: -webkit-gradient(radial, 35% 14%, 0, 35% 14%, 156, color-stop(1.00, #f5aa00), color-stop(0.00, #dfc607));
    background: -webkit-radial-gradient(35% 14%, circle, #dfc607, #f5aa00);
    background: -moz-radial-gradient(35% 14%, circle, #dfc607, #f5aa00);
    background: -o-radial-gradient(35% 14%, circle, #dfc607, #f5aa00);
    background: -ms-radial-gradient(35% 14%, circle, #dfc607, #f5aa00);
    background: radial-gradient(35% 14%, circle, #dfc607, #f5aa00);
}

.welcome.draw {
    /*font-size: 3rem;*/
    width: 20em;
    margin: 5px auto;
    text-align: center;
}

.main.draw {
    width: 95%;
    margin: 5px auto;
    /*font-size: 1.6rem;*/
}

#draws {
    display: table;
    border: 2px solid white;
    border-spacing: 0;
    border-radius: 1rem;
    margin: 5px auto;
    width: 100%;
    text-align: center;
}

#draws div:first-child span:first-child {
    border-top-left-radius: 1rem;
}

#draws div:first-child span:last-child {
    border-top-right-radius: 1rem;
}

#draws div:last-child span:first-child {
    border-bottom-left-radius: 1rem;
}

#draws div:last-child span:last-child {
    border-bottom-right-radius: 1rem;
}

#draws div {
    display: table-row;
}

#draws span {
    display: table-cell;
    border: 1px solid white;
    padding: 10px;
    vertical-align: middle;
}

#draws span:first-child {
    min-width: 4em;
}

#draws span:nth-child(2) {
    min-width: 10em;
}

.i-frame-draws,
.i-frame-cashs {
    position: absolute;
    width: 83%;
    height: 85%;
    left: 7em;
    top: 3em;
    display: none;
    box-sizing: border-box;
}

iframe {
    position: relative;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    border: 10px solid white;
    border-radius: 1em;
}

#close-frame-draws,
#close-frame-cashs {
    position: absolute;
    z-index: 9999999999;
    top: -2.5rem;
    right: -1.6rem;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    border: 0.2em solid white;
    background-color: black;
    background-image: url('../../images/close.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

#bet-ind,
.timing {
    position: relative;
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    border: 0.6rem solid white;
    margin-bottom: 2rem;
    transition: 0.2s ease;
}

#bet-button {
    font-size: 2.6rem;
    text-align: center;
    padding: 15px 7px;
    cursor: pointer;
}

#bet-ind:focus,
#bet-button:focus {
    outline: none;
}

#bet-ind:hover {
    box-shadow: rgba(38, 180, 38, 0.6) 0px 0px 20px 8px;
}

#bet-ind:active {
    box-shadow: rgba(255, 219, 88, 0.6) 0px 0px 20px 8px, inset #FFDB58 0px 0px 20px 7px;
}

.timing span {
    display: block;
    margin: 5px auto;
    font-family: 'Marmelad', sans-serif;
    font-size: 3.5rem;
    text-align: center;
}

.timing:after {
    content: '';
    background: transparent;
    width: 140%;
    height: 140%;
    position: absolute;
    border-radius: 100%;
    top: -20%;
    left: -20%;
    opacity: 0.7;
    box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
    animation: rotate 1s infinite linear;
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -60px 0 0 -60px;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: #bf1e2d url('../images/favico.ico') no-repeat;
    background-size: 8rem;
}

.loading:after {
    content: '';
    background: transparent;
    width: 140%;
    height: 140%;
    position: absolute;
    border-radius: 100%;
    top: -20%;
    left: -20%;
    opacity: 0.7;
    box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes rotate-ball {
    0% {
        transform: rotate(91deg);
    }
    100% {
        transform: rotate(451deg);
    }
}

@keyframes rotate-ball2 {
    0% {
        transform: rotate(91deg);
    }
    100% {
        transform: rotate(451deg);
    }
}

@keyframes rotate-ball3 {
    0% {
        transform: rotate(91deg);
    }
    100% {
        transform: rotate(451deg);
    }
}