body {
    background: url('../images/background.jpg') no-repeat fixed center;
    background-position: cover;
    font-size: 16px;
    color: white;
    font-family: 'Marmelad', sans-serif;
}

.need-rotate {
    font-size: 18px;
    background: url('../images/background.jpg') no-repeat fixed center;
    background-position: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 999999999;
}

.need-rotate img {
    display: block;
    width: 50%;
    margin: 5px auto;
}

@media only screen and (max-width: 719px) {
    body {
        font-size: 14px;
    }
    .need-rotate {
        display: flex;
    }
}

@media only screen and (min-width: 720px) and (max-width: 860px) {
    body {
        font-size: 10px;
    }
}

@media only screen and (min-width: 861px) and (max-width: 1024px) {
    body {
        font-size: 12px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1360px) {
    body {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1361px) and (max-width: 1440px) {
    body {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1441px) {
    body {
        font-size: 18px;
    }
}

header div {
    display: block;
    min-width: 8em;
    text-align: center;
    position: absolute;
    top: 2px;
}

.welcome {
    padding: 5px;
    font-size: 4em;
    position: static;
    margin: 5px auto;
    width: 3em;
}

.balance {
    padding: 5px;
    text-align: left;
    font-size: 1rem;
    margin-right: 5px;
    margin-left: 9.1em;
    right: 5px;
    top: 2px;
}

.balance .login-info {
    width: 16em;
    text-align: left;
    position: absolute;
    right: 0;
}

.login-info div {
    position: relative;
    display: inline-block;
    text-align: left;
    margin-right: 5px;
}

.login-info div:first-of-type {
    text-align: right;
}

.login-info div:last-of-type {
    text-align: right;
    top: -1rem;
}

.login-info img {
    display: inline-block;
    margin-top: 0.15rem;
    width: 2.2rem;
    background: white;
    border-radius: 50%;
    border: .15rem solid white;
}

.info {
    text-align: left;
    font-size: 1rem;
    position: absolute;
    display: block;
    width: 50%;
    left: 10px;
    top: 5px;
}

.info>div {
    display: inline-block;
    position: static;
    margin-right: 2em;
    min-width: 5em;
    text-align: right;
}

#rules {
    margin-top: 1em;
    width: 24em;
    border: 2px solid white;
    border-radius: 0.5em;
    position: absolute;
    z-index: 9999999;
    left: 0;
    display: none;
}

.rules-button {
    text-align: right;
    font-size: 1.1rem;
}

.info #colors {
    text-align: left;
    font-size: 1rem;
    cursor: pointer;
}

.info #colors span {
    display: none;
}

.info #colors:hover span {
    display: inline-block;
    border: 2px solid white;
    border-radius: 0.5em;
    background: rgba(5, 5, 5, 0.5);
    padding: 10px;
    text-align: left;
    position: absolute;
    z-index: 9999999999;
    width: 12em;
    left: 7.5em;
    top: 2em;
}

.info #draws-button,
.info #cashs-button {
    text-align: left;
    font-size: 1.1rem;
    cursor: pointer;
    z-index: 9999999999;
}

.info #draws-button span,
.info #cashs-button span {
    text-decoration: underline;
}

.balance #exit {
    display: inline-block;
    position: absolute;
    top: -0.2rem;
    right: 0;
    font-size: 1rem;
}

.bold,
b {
    text-decoration: underline;
    font-weight: normal;
    font-size: 1.1em;
}

.main {
    font-size: 2em;
    font-family: 'Neucha', cursive;
    text-align: center;
    margin: 2em auto;
    margin-top: 2em;
    width: 15em;
    display: block;
}

button,
.link-button {
    font-size: 1em;
    font-family: 'Neucha', cursive;
    color: white;
    min-height: 1em;
    background-color: black;
    display: inline-block;
    min-width: 3em;
    text-align: center;
    vertical-align: middle;
    border: 2px solid white;
    padding: 0.1em 0.2em;
    border-radius: 0.5em;
    margin: 10px auto;
    cursor: pointer;
    text-decoration: none;
}

#new-game button {
    display: block;
    width: 5em;
}

button:hover,
input:hover,
.link-button:hover {
    box-shadow: 1px 0px 30px #ffffff;
}

button:focus,
input:focus,
.link-button:focus {
    outline: none;
}

button:active,
input:active,
.link-button:active {
    box-shadow: inset 1px 0px 19px #ffffff;
}

button::selection {
    background: transparent;
}

button::-moz-selection {
    background: transparent;
}

.main span::selection {
    background: transparent;
}

.main span::-moz-selection {
    background: transparent;
}

.main div::selection {
    background: transparent;
}

.main div::-moz-selection {
    background: transparent;
}

#select .text {
    display: block;
}

input,
select {
    color: white;
    min-height: 1em;
    background-color: black;
    display: inline-block;
    color: white;
    font-size: 1em;
    font-family: 'Neucha', cursive;
    text-align: left;
    vertical-align: middle;
    border: 2px solid white;
    padding: 0.1em 0.3em;
    border-radius: 0.5em;
}

#user-balance-block,
#new-game,
#betting,
#game {
    text-align: center;
    display: none;
}

#betting {
    position: absolute;
    top: 20%;
    padding: 2em 3em;
    z-index: 99999999999;
    border: 0.2em solid white;
    border-radius: 0.5em;
    background: url('../images/background.jpg') no-repeat fixed center;
    background-position: cover;
    -moz-box-shadow: 4px 6px 3px #000000;
    -webkit-box-shadow: 4px 6px 3px #000000;
    box-shadow: 4px 6px 3px #000000;
}

#bet {
    width: 4em;
    margin: 5px auto;
}

table {
    border-radius: 10px;
    margin: 0 auto;
    padding: 5px;
    width: 19em;
}

td::selection {
    background: transparent;
}

td::-moz-selection {
    background: transparent;
}

td {
    font-family: 'Marmelad', sans-serif;
    font-size: 0.9em;
    line-height: 1.1em;
    border-radius: 50%;
    border: 0.2em solid white;
    box-shadow: 4px 6px 10px -2px rgba(5, 5, 5, 1);
    color: white;
    min-width: 1.2em;
    min-height: 1.2em;
    width: 1.3em;
    height: 1.3em;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: background 0.5s linear;
}

td:focus {
    outline: none;
}

#game-field td:hover,
#game-field td:focus {
    box-shadow: 1px 0px 30px #ffffff;
    outline: none;
}

#game-field td:active {
    box-shadow: inset 1px 0px 19px #ffffff;
}

#game-text {
    display: inline-block;
    height: 2.3em;
    position: absolute;
    top: -1.2em;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

#table-box {
    width: 50%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 4.5em;
    left: 0;
}

.bold {
    cursor: pointer;
}

#bet-box {
    width: 19em;
    position: absolute;
    top: 5.2em;
    right: 8%;
}

#draw-num {
    text-align: center;
    display: block;
    margin: 0.65em auto;
    margin-bottom: 0;
    font-size: 1.1em;
}

.win-balls {
    position: absolute;
    top: 1.7em;
    left: -50em;
}

.win-balls td {
    position: relative;
    min-width: 1.2em;
    transition: all 2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.bet-text {
    min-height: 1.4em;
    display: block;
    text-align: center;
}

.user-block {
    font-size: 2.15rem;
    margin: 10px auto;
    border: 3px solid white;
    border-radius: 10px;
    margin-bottom: 10px;
    display: table-row;
}

.plus,
.minus {
    min-width: 2em;
}

.user-block span {
    font-size: 2.15rem;
    display: table-cell;
    margin: 5px auto;
    min-width: 5em;
    padding: 5px;
    border-bottom: 2px solid white;
}

.user-block .balance {
    text-align: center;
}

.main.admin {
    width: 100%;
}

#users {
    margin: 10px auto;
    display: inline-block;
}

.win-balls td.animated {
    transform: translateX(58.5em) rotate(360deg);
}

.green {
    background: -webkit-gradient(radial, 35% 14%, 0, 35% 14%, 156, color-stop(0.94, #196119), color-stop(0.40, #00AC00));
    background: -webkit-radial-gradient(35% 14%, circle, #00AC00 40%, #196119 94%);
    background: -moz-radial-gradient(35% 14%, circle, #00AC00 40%, #196119 94%);
    background: -o-radial-gradient(35% 14%, circle, #00AC00 40%, #196119 94%);
    background: -ms-radial-gradient(35% 14%, circle, #00AC00 40%, #196119 94%);
    background: radial-gradient(35% 14%, circle, #00AC00 40%, #196119 94%);
}

.red {
    background: -webkit-gradient(radial, 35% 14%, 0, 35% 14%, 156, color-stop(1.00, #570e16), color-stop(0.74, #9c1927), color-stop(0.55, #bf1e2d), color-stop(0.24, #bf1e2d));
    background: -webkit-radial-gradient(35% 14%, circle, #bf1e2d 24%, #bf1e2d 55%, #9c1927 74%, #570e16 100%);
    background: -moz-radial-gradient(35% 14%, circle, #bf1e2d 24%, #bf1e2d 55%, #9c1927 74%, #570e16 100%);
    background: -o-radial-gradient(35% 14%, circle, #bf1e2d 24%, #bf1e2d 55%, #9c1927 74%, #570e16 100%);
    background: -ms-radial-gradient(35% 14%, circle, #bf1e2d 24%, #bf1e2d 55%, #9c1927 74%, #570e16 100%);
    background: radial-gradient(35% 14%, circle, #bf1e2d 24%, #bf1e2d 55%, #9c1927 74%, #570e16 100%);
}

.black {
    background: -webkit-gradient(radial, 35% 14%, 0, 35% 14%, 156, color-stop(1.00, #4b4b4b), color-stop(0.00, #131313));
    background: -webkit-radial-gradient(35% 14%, circle, #131313, #4b4b4b);
    background: -moz-radial-gradient(35% 14%, circle, #131313, #4b4b4b);
    background: -o-radial-gradient(35% 14%, circle, #131313, #4b4b4b);
    background: -ms-radial-gradient(35% 14%, circle, #131313, #4b4b4b);
    background: radial-gradient(35% 14%, circle, #131313, #4b4b4b);
}

.yellow {
    background: -webkit-gradient(radial, 35% 14%, 0, 35% 14%, 156, color-stop(1.00, #f5aa00), color-stop(0.00, #dfc607));
    background: -webkit-radial-gradient(35% 14%, circle, #dfc607, #f5aa00);
    background: -moz-radial-gradient(35% 14%, circle, #dfc607, #f5aa00);
    background: -o-radial-gradient(35% 14%, circle, #dfc607, #f5aa00);
    background: -ms-radial-gradient(35% 14%, circle, #dfc607, #f5aa00);
    background: radial-gradient(35% 14%, circle, #dfc607, #f5aa00);
}

.welcome.draw {
    /*font-size: 3rem;*/
    width: 20em;
    margin: 5px auto;
    text-align: center;
}

.main.draw {
    width: 95%;
    margin: 5px auto;
    /*font-size: 1.6rem;*/
}

#draws {
    display: table;
    border: 2px solid white;
    border-spacing: 0;
    border-radius: 1rem;
    margin: 5px auto;
    width: 100%;
    text-align: center;
}

#draws div:first-child span:first-child {
    border-top-left-radius: 1rem;
}

#draws div:first-child span:last-child {
    border-top-right-radius: 1rem;
}

#draws div:last-child span:first-child {
    border-bottom-left-radius: 1rem;
}

#draws div:last-child span:last-child {
    border-bottom-right-radius: 1rem;
}

#draws div {
    display: table-row;
}

#draws span {
    display: table-cell;
    border: 1px solid white;
    padding: 10px;
    vertical-align: middle;
}

#draws span:first-child {
    min-width: 4em;
}

#draws span:nth-child(2) {
    min-width: 10em;
}

.i-frame-draws,
.i-frame-cashs {
    position: absolute;
    width: 83%;
    height: 85%;
    left: 7em;
    top: 3em;
    display: none;
    box-sizing: border-box;
}

iframe {
    position: relative;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    border: 10px solid white;
    border-radius: 1em;
}

#close-frame-draws,
#close-frame-cashs {
    position: absolute;
    z-index: 9999999999;
    top: -1.5em;
    right: -2em;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    border: 0.2em solid white;
    background-color: black;
    background-image: url('../images/close.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

.timing {
    position: absolute;
    left: 46%;
    top: 4%;
    width: 3.6em;
    height: 3.6em;
    border-radius: 100%;
    border: 0.4em solid white;
}

.red-shadow {
    box-shadow: rgba(191, 30, 45, 0.6) -4px -5px 3px -3px;
}

.green-shadow {
    box-shadow: rgba(38, 180, 38, 0.6) -4px -5px 3px -3px;
}

.yellow-shadow {
    box-shadow: rgba(255, 180, 38, 0.6) -4px -5px 3px -3px;
}

.timing span {
    display: block;
    margin: 5px auto;
    font-family: 'Marmelad', sans-serif;
    font-size: 2.7em;
    text-align: center;
}

.timing:after {
    content: '';
    background: transparent;
    width: 140%;
    height: 140%;
    position: absolute;
    border-radius: 100%;
    top: -20%;
    left: -20%;
    opacity: 0.7;
    box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
    animation: rotate 1s infinite linear;
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -60px 0 0 -60px;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: #bf1e2d url('../images/favicon.ico') no-repeat;
    background-size: 8rem;
}

.loading img {
    display: block;
    margin: 0 auto;
    width: 7rem;
}

.loading:after {
    content: '';
    background: transparent;
    width: 140%;
    height: 140%;
    position: absolute;
    border-radius: 100%;
    top: -20%;
    left: -20%;
    opacity: 0.7;
    box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}