body {
    background: url('../../images/background.jpg') no-repeat fixed;
    background-size: cover;
    font-size: 16px;
    color: white;
    font-family: 'Marmelad', sans-serif;
}

.need-rotate {
    font-size: 18px;
    background: url('../../images/background.jpg') no-repeat fixed center;
    background-position: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 999999999;
}

.need-rotate img {
    display: block;
    width: 50%;
    margin: 5px auto;
}

@media only screen and (max-width: 719px) {
    body {
        font-size: 14px;
    }
    .need-rotate {
        display: flex;
    }
}

@media only screen and (min-width: 720px) and (max-width: 860px) {
    body {
        font-size: 10px;
    }
}

@media only screen and (min-width: 861px) and (max-width: 1024px) {
    body {
        font-size: 12px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1360px) {
    body {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1361px) and (max-width: 1440px) {
    body {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1441px) {
    body {
        font-size: 18px;
    }
}

header div {
    display: block;
    min-width: 4em;
    text-align: center;
    position: absolute;
}

.user-block {
    padding: 5px;
    text-align: left;
    font-size: 1em;
    right: 5px;
    top: 0;
}

.user-block #exit {
    display: inline-block;
    font-size: 1.1em;
}

.user-block .login-info {
    width: 28em;
    text-align: right;
    position: absolute;
    right: 0;
}

.login-info div {
    position: relative;
    display: inline-block;
    text-align: left;
    margin-right: 5px;
}

.login-info div:first-of-type {
    text-align: right;
}

.login-info div:last-of-type {
    text-align: right;
    top: -1em;
}

.login-info img {
    display: inline-block;
    margin-top: 0.15em;
    width: 2.2em;
    background: white;
    border-radius: 50%;
    border: .15em solid white;
}

.info {
    text-align: left;
    padding: 5px;
    margin-left: 5px;
    margin-right: 12em;
    font-size: 1em;
    left: 5px;
    top: 8px;
}

.welcome {
    padding: 5px;
    font-size: 4.5em;
    position: static;
    margin: 5px auto;
}

.ballance {
    padding: 5px;
    text-align: left;
    font-size: 1em;
    margin-right: 5px;
    margin-left: 9.1em;
    right: 5px;
    top: 8px;
}

b {
    text-decoration: underline;
    font-weight: normal;
    font-size: 1.1em;
}

main {
    font-size: 2.2em;
    font-family: 'Neucha', cursive;
    text-align: center;
    margin: 1em auto;
    width: 12em;
    display: block;
}

button,
.link-button {
    font-size: 1em;
    font-family: 'Neucha', cursive;
    color: white;
    min-height: 1em;
    background-color: black;
    display: inline-block;
    min-width: 3em;
    text-align: center;
    vertical-align: middle;
    border: 2px solid white;
    padding: 0.1em 0.2em;
    border-radius: 0.5em;
    margin: 10px auto;
    cursor: pointer;
    text-decoration: none;
}

#new-game .button {
    display: block;
    width: 5em;
}

.link-button:hover,
.link-button:focus,
button:hover,
button:focus {
    -moz-box-shadow: 1px 0px 30px #ffffff;
    -webkit-box-shadow: 1px 0px 30px #ffffff;
    box-shadow: 1px 0px 30px #ffffff;
    outline: none;
}

.link-button:active,
button:active {
    -moz-box-shadow: inset 1px 0px 19px #ffffff;
    -webkit-box-shadow: inset 1px 0px 19px #ffffff;
    box-shadow: inset 1px 0px 19px #ffffff;
}

main span::selection {
    background: transparent;
}

main span::-moz-selection {
    background: transparent;
}

main div::selection {
    background: transparent;
}

main div::-moz-selection {
    background: transparent;
}

#select .text {
    display: block;
}

input {
    color: white;
    font-size: 1em;
    width: 3em;
    font-family: 'Neucha', cursive;
    text-align: left;
    padding: 0.2em;
}

footer {
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    position: fixed;
    bottom: 10px;
}

#select,
#betting,
#game {
    display: none;
}

table {
    background-color: white;
    border: 2px solid black;
    margin: 0 auto;
    width: 10em;
    height: 9em;
    border-collapse: collapse;
}

td::selection {
    background: transparent;
}

td::-moz-selection {
    background: transparent;
}

td {
    font-family: 'Marmelad', sans-serif;
    font-size: 1.8em;
    border: 2px solid black;
    color: black;
    width: 2em;
    height: 2em;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #fff;
}

#game-text {
    display: inline-block;
    height: 2em;
    margin: 1em auto;
    width: 100%;
    box-sizing: content-box;
    text-align: center;
}

#table-box {
    width: 100%;
    box-sizing: border-box;
    margin: 1em auto;
    text-align: center;
}