body {
    background: url('../images/background.jpg') no-repeat fixed center;
    background-position: cover;
    font-size: 16px;
    color: white;
    font-family: 'Marmelad', sans-serif;
    overflow: hidden;
}

.need-rotate {
    font-size: 18px;
    background: url('../images/background.jpg') no-repeat fixed center;
    background-position: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 999999999;
}

.need-rotate img {
    display: block;
    width: 50%;
    margin: 5px auto;
}

@media only screen and (max-width: 719px) {
    body {
        font-size: 14px;
    }
    .need-rotate {
        display: flex;
    }
}

@media only screen and (min-width: 720px) and (max-width: 860px) {
    body {
        font-size: 10px;
    }
}

@media only screen and (min-width: 861px) and (max-width: 1024px) {
    body {
        font-size: 12px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1360px) {
    body {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1361px) and (max-width: 1440px) {
    body {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1441px) {
    body {
        font-size: 18px;
    }
}

button,
.link-button {
    font-size: 1em;
    font-family: 'Neucha', cursive;
    color: white;
    min-height: 1.1em;
    background-color: black;
    display: inline-block;
    min-width: 3em;
    text-align: center;
    vertical-align: middle;
    border: 2px solid white;
    padding: 0.1em 0.2em;
    border-radius: 0.5em;
    margin: 0 auto;
    cursor: pointer;
    text-decoration: none;
}

button:hover,
input:hover,
.link-button:hover {
    box-shadow: 1px 0px 30px #ffffff;
}

button:focus,
input:focus,
.link-button:focus {
    outline: none;
}

button:active,
input:active,
.link-button:active {
    box-shadow: inset 1px 0px 19px #ffffff;
}

button::selection {
    background: transparent;
}

button::-moz-selection {
    background: transparent;
}

body span::selection {
    background: transparent;
}

body span::-moz-selection {
    background: transparent;
}

body div::selection {
    background: transparent;
}

body div::-moz-selection {
    background: transparent;
}

td::selection {
    background: transparent;
}

td::-moz-selection {
    background: transparent;
}

input {
    color: white;
    min-height: 1em;
    background-color: black;
    display: inline-block;
    font-size: 1em;
    font-family: 'Neucha', cursive;
    text-align: left;
    vertical-align: middle;
    border: 2px solid white;
    padding: 0.1em 0.3em;
    border-radius: 0.5em;
}

section {
    margin: 0 auto;
}

#poker-table {
    position: relative;
    top: 3em;
    width: 60%;
    height: 60vh;
    margin: 0 auto;
    background-image: url('images/table.jpg');
    background-repeat: repeat;
    background-size: 50px;
    border: 1.7em solid gold;
    border-radius: 10em;
    /* border-image: url(images/table_border.jpg) 20 repeat repeat;
    -moz-border-image: url(images/table_border.jpg) 20 repeat repeat;
    -webkit-border-image: url(images/table_border.jpg) 120 repeat repeat;
    -o-border-image: url(images/table_border.jpg) 20 repeat repeat; */
    z-index: 1;
    text-align: center;
}

table {
    position: relative;
    width: 110%;
    left: -5%;
    top: -4.6em;
    margin: 0 auto;
}

td {
    min-height: 1em;
    text-align: center;
}

.balance,
.name,
.comment,
.balance-player,
.name-player,
.comment-player {
    text-align: center;
    width: 5em;
}

.balance,
.name,
.balance-player,
.name-player {
    color: black;
    background-color: white;
    border: .2em solid white;
    border-radius: 1em;
}

.bet:nth-child(n) {
    text-align: right;
    width: 8em;
}

.bet:nth-child(2n) {
    text-align: left;
    width: 8em;
}

.bet-player {
    width: 8em;
    text-align: center;
}

.bet img,
.bet-player img {
    width: 2em;
    display: inline-block;
    padding: 0;
    display: none;
}

.cards,
.cards-player {
    height: 4em;
    width: 8em;
    text-align: center;
}

.cards img,
.cards-player img,
.cards-playing img {
    display: none;
    width: 3em;
}

.cards-playing {
    height: 10.8em;
}

#comment {
    width: 15em;
}

.comment,
.comment-player,
.comment-game {
    border: 2px solid white;
    border-radius: 2em;
    padding: 5px;
    overflow: hidden;
    opacity: 0;
    height: 1.2em;
}

.comment:first-of-type {
    border-bottom-left-radius: 0;
}

.comment:last-of-type {
    border-bottom-right-radius: 0;
}

.comment:nth-of-type(2) {
    border-top-left-radius: 0;
}

.comment:nth-of-type(4) {
    border-top-right-radius: 0;
}

#betings {
    width: 5.1em;
}

#apply-bet {
    width: 8.7em;
}

.croupier-img,
.avatar-img,
.avatar-player-img {
    width: 4em;
    height: 4em;
    display: block;
    margin: auto;
    border-radius: 100%;
    outline: none;
    padding: 0;
    background: white;
    border: .2em solid white;
}

td button {
    width: 6em;
}

.in-button:nth-of-type(1),
.in-button:nth-of-type(2) {
    text-align: right !important;
    padding: 0;
}

.in-button:nth-of-type(3),
.in-button:nth-of-type(4) {
    text-align: left !important;
    padding: 0;
}


/* #table-refresh {
    width: 15em;
} */

.alert {
    position: relative;
    left: 50;
    display: inline-block;
    width: 80%;
    background: black;
    border: 0.2em solid white;
    border-radius: 1em;
    text-align: center;
    font-size: 1.7em;
    padding: 1em;
}

.bet span,
.bet-player span,
.bank span,
.bet-last span {
    display: none;
}

.balance,
.name,
.avatar-img {
    opacity: 0;
}

.bet-last span,
.bank span {
    display: inline-block;
    width: 80%;
    border: 2px solid white;
    border-radius: 1em;
    padding: 5px;
}

.rebuy {
    background: url('../images/background.jpg') no-repeat fixed center;
    background-position: cover;
    font-size: 1.5em;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    padding: 2em;
    border: 0.2em solid white;
    border-radius: 3em;
    text-align: center;
    display: none;
}

.rebuy input {
    width: 5em;
    margin-top: 0;
}

.rebuy .text {
    margin: 0.5em auto;
    margin-top: 0;
}

.deck {
    display: none;
}

.deck img {
    width: 3em;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-35%);
    z-index: 10;
    transition: all 2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.deck img:nth-child(1).animated,
.deck img:nth-child(6).animated {
    transform: translate(-20em, 2em) rotate(180deg);
}

.deck img:nth-child(2).animated,
.deck img:nth-child(7).animated {
    transform: translate(18em, 2em) rotate(180deg);
}

.deck img:nth-child(3).animated,
.deck img:nth-child(8).animated {
    transform: translate(-20em, 15em) rotate(180deg);
}

.deck img:nth-child(4).animated,
.deck img:nth-child(9).animated {
    transform: translate(18em, 15em) rotate(180deg);
}

.deck img:nth-child(5).animated,
.deck img:nth-child(10).animated {
    transform: translate(-1em, 16em) rotate(180deg);
}

.alert {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 15em;
    z-index: 5;
    display: none;
}

.cards-row {
    height: 5.3em;
}

.winner {
    border-color: rgb(39, 214, 36);
    box-shadow: 1px 0px 50px rgba(39, 214, 36, 0.7);
}

.winner-cards {
    border: .2em solid transparent;
    border-radius: 0.5em;
    box-shadow: 1px 0px 50px rgba(39, 214, 36, 0.7);
}

.green {
    background: -webkit-gradient(radial, 35% 14%, 0, 35% 14%, 156, color-stop(0.94, #196119), color-stop(0.40, #00AC00));
    background: -webkit-radial-gradient(35% 14%, circle, #00AC00 40%, #196119 94%);
    background: -moz-radial-gradient(35% 14%, circle, #00AC00 40%, #196119 94%);
    background: -o-radial-gradient(35% 14%, circle, #00AC00 40%, #196119 94%);
    background: -ms-radial-gradient(35% 14%, circle, #00AC00 40%, #196119 94%);
    background: radial-gradient(35% 14%, circle, #00AC00 40%, #196119 94%);
}

.red {
    background: -webkit-gradient(radial, 35% 14%, 0, 35% 14%, 156, color-stop(1.00, #570e16), color-stop(0.74, #9c1927), color-stop(0.55, #bf1e2d), color-stop(0.24, #bf1e2d));
    background: -webkit-radial-gradient(35% 14%, circle, #bf1e2d 24%, #bf1e2d 55%, #9c1927 74%, #570e16 100%);
    background: -moz-radial-gradient(35% 14%, circle, #bf1e2d 24%, #bf1e2d 55%, #9c1927 74%, #570e16 100%);
    background: -o-radial-gradient(35% 14%, circle, #bf1e2d 24%, #bf1e2d 55%, #9c1927 74%, #570e16 100%);
    background: -ms-radial-gradient(35% 14%, circle, #bf1e2d 24%, #bf1e2d 55%, #9c1927 74%, #570e16 100%);
    background: radial-gradient(35% 14%, circle, #bf1e2d 24%, #bf1e2d 55%, #9c1927 74%, #570e16 100%);
}