body {
    background: url('../images/background.jpg') no-repeat fixed center;
    background-position: cover;
    color: white;
    font-family: 'Marmelad', sans-serif;
}

.need-rotate {
    font-size: 18px;
    background: url('../images/background.jpg') no-repeat fixed center;
    background-position: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 999999999;
}

.need-rotate img {
    display: block;
    width: 50%;
    margin: 5px auto;
}

@media only screen and (max-width: 719px) {
    body {
        font-size: 14px;
    }
    .need-rotate {
        display: flex;
    }
}

@media only screen and (min-width: 720px) and (max-width: 860px) {
    body {
        font-size: 10px;
    }
}

@media only screen and (min-width: 861px) and (max-width: 1024px) {
    body {
        font-size: 12px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1360px) {
    body {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1361px) and (max-width: 1440px) {
    body {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1441px) {
    body {
        font-size: 18px;
    }
}

header {
    position: relative;
    top: 2px;
}

header div {
    display: block;
    min-width: 3em;
    text-align: center;
    position: absolute;
}

.welcome {
    padding: 5px;
    font-size: 4em;
    position: static;
    margin: 0 auto;
    width: 10em;
}

.user-block {
    padding: 5px;
    text-align: left;
    font-size: 1rem;
    right: 5px;
    top: 0;
}

.user-block #exit {
    display: inline-block;
    font-size: 1.1rem;
}

.user-block .login-info {
    width: 28rem;
    text-align: right;
    position: absolute;
    right: 0;
}

.login-info div {
    position: relative;
    display: inline-block;
    text-align: left;
    margin-right: 5px;
}

.login-info div:first-of-type {
    text-align: right;
}

.login-info div:last-of-type {
    text-align: right;
    top: -1rem;
}

.login-info img {
    display: inline-block;
    margin-top: 0.15rem;
    width: 2.2rem;
    background: white;
    border-radius: 50%;
    border: .15rem solid white;
}

.info {
    text-align: left;
    font-size: 1rem;
    position: absolute;
    display: block;
    width: 50%;
    left: 10px;
    top: 5px;
}

.info>div {
    display: inline-block;
    position: static;
    margin-right: 2em;
    min-width: 5em;
    text-align: right;
}

.info #colors {
    text-align: left;
    font-size: 1rem;
    cursor: pointer;
}

.info #colors span {
    display: none;
}

.info #colors:hover span {
    display: inline-block;
    border: 2px solid white;
    border-radius: 0.5em;
    background: rgba(5, 5, 5, 0.5);
    padding: 10px;
    text-align: left;
    position: absolute;
    z-index: 9999999999;
    width: 12em;
    left: 7.5em;
    top: 2em;
}

.bold,
b {
    text-decoration: underline;
    font-weight: normal;
    font-size: 1.1em;
}

main {
    font-size: 2em;
    font-family: 'Neucha', cursive;
    text-align: center;
    margin: 1em auto;
    width: 20em;
    display: block;
}

button,
.link-button {
    font-size: 1em;
    font-family: 'Neucha', cursive;
    color: white;
    min-height: 1em;
    background-color: black;
    display: inline-block;
    min-width: 3em;
    text-align: center;
    vertical-align: middle;
    border: 2px solid white;
    padding: 0.1em 0.2em;
    border-radius: 0.5em;
    margin: 10px auto;
    cursor: pointer;
    text-decoration: none;
}

select:hover,
button:hover,
input:hover,
.link-button:hover {
    box-shadow: 1px 0px 30px #ffffff;
}

select:focus,
button:focus,
input:focus,
.link-button:focus {
    outline: none;
}

select:active,
button:active,
input:active,
.link-button:active {
    box-shadow: inset 1px 0px 19px #ffffff;
}

button::selection {
    background: transparent;
}

button::-moz-selection {
    background: transparent;
}

main span::selection {
    background: transparent;
}

main span::-moz-selection {
    background: transparent;
}

main div::selection {
    background: transparent;
}

main div::-moz-selection {
    background: transparent;
}

select,
input {
    color: white;
    min-height: 1em;
    background-color: black;
    display: inline-block;
    font-size: 1em;
    font-family: 'Neucha', cursive;
    text-align: left;
    vertical-align: middle;
    border: 2px solid white;
    padding: 0.1em 0.3em;
    border-radius: 0.5em;
}

.rebuy {
    margin: 1em auto;
    text-align: center;
    display: none;
}

.rebuy input {
    width: 4em;
}

.choose button {
    width: 7em;
    height: 3em;
}

.choose {
    margin: 1em auto;
    display: none;
}

#game-field td:hover,
#game-field td:focus {
    box-shadow: 1px 0px 30px #ffffff;
    outline: none;
}

#game-field td:active {
    box-shadow: inset 1px 0px 19px #ffffff;
}

.bold {
    cursor: pointer;
}

.i-frame {
    position: absolute;
    width: 99.5%;
    height: 98vh;
    left: 0;
    top: 0;
    display: none;
    box-sizing: border-box;
}

iframe {
    position: relative;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    border: none;
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -60px 0 0 -60px;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: #bf1e2d url('../images/poker.png') no-repeat;
    background-size: 8rem;
}

.loading:after {
    content: '';
    background: trasparent;
    width: 140%;
    height: 140%;
    position: absolute;
    border-radius: 100%;
    top: -20%;
    left: -20%;
    opacity: 0.7;
    box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}